<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
        </div>
        <p>[1] Abu-Lughod, Lila. The Romance of Resistance: Tracing Transformations of Power through Bedouin Women, American Ethnologist, 17 (1): 41-55, 1990</a>.</p>        
        <p>Copyright &copy; Sophia Simelitidou. All rights reserved. design by <a href="http://www.themefisher.com">Themefisher</a>. photos by <a href="https://www.flickr.com/photos/papagandalf">papagandalf</a>.</p>
      </div>
    </div>
  </div>
</footer>
